<div class="panel panel-default device toggleDevice">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-times close"></i>
            Device name
        </h3>
    </div>
    <div class="panel-body">
        <div class="btn-group toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" checked /> On
            </label>

            <label class="btn btn-default">
                <input type="radio" name="options" id="option2" /> Off
            </label>
        </div>
    </div>
</div>
